<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83638116181-2tpsq22ks7a5c5phlu3r6jrr0vjh6hkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83638116181-2tpsq22ks7a5c5phlu3r6jrr0vjh6hkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAykrcJjYuu4vGjYioCr2LP_j2qev3txRM</string>
	<key>GCM_SENDER_ID</key>
	<string>83638116181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiansalehi.kingchat</string>
	<key>PROJECT_ID</key>
	<string>king-chat-dff28</string>
	<key>STORAGE_BUCKET</key>
	<string>king-chat-dff28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83638116181:ios:2d674eaeeba6dd0951d9dc</string>
</dict>
</plist>